JMeter.Data/bin/
JMeter.Data/obj/
WcfLoadTest.JMeterAction/bin/
WcfLoadTest.JMeterAction/obj/
WcfLoadTest.JMeterActionTestApplication/bin/
WcfLoadTest.JMeterActionTestApplication/obj/
WcfLoadTest.WcfService/bin/
WcfLoadTest.WcfService/obj/
WcfLoadTest.WcfServiceClient/bin/
WcfLoadTest.WcfServiceClient/obj/
WcfLoadTest.WcfServiceClientPublic/bin/
WcfLoadTest.WcfServiceClientPublic/obj/
WcfLoadTest.WcfServiceClientTestApplication/WcfLoadTest.WcfServiceClientTestApplication/bin/
WcfLoadTest.WcfServiceClientTestApplication/WcfLoadTest.WcfServiceClientTestApplication/obj/
WcfLoadTest.WcfServiceClientTestApplicationJava/out/
tools.jni4net/WcfLoadTest.JMeterAction/
tools.jni4net/WcfLoadTest.WcfServiceClient/
tools.jni4net/WcfLoadTest.WcfServiceClientPublic/
WcfLoadTest.WcfServiceClientTestApplication/bin/
WcfLoadTest.WcfServiceClientTestApplication/obj/
*.user
.vs/
*.bak
