<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="fileSizes" value="1,2,10,20,25,30,35,40,45,50,70,100"/>
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="httpOnServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="httpOffServiceBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="httpsOnServiceBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_1"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:01:00"
                 hostNameComparisonMode="StrongWildcard"
                 maxReceivedMessageSize="838860800"
                 textEncoding="utf-8"
                 transferMode="Buffered"
                 messageEncoding="Text">
          <readerQuotas maxStringContentLength="838860800"
                        maxArrayLength="838860800" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_SoapMsBin1">
          <binaryMessageEncoding maxSessionSize="838860800">
            <readerQuotas maxStringContentLength="838860800"
                          maxArrayLength="838860800" />
          </binaryMessageEncoding>
          <httpTransport maxReceivedMessageSize="838860800"
                         transferMode="Streamed" />
        </binding>
        <binding name="CustomBinding_Soap11">
          <textMessageEncoding messageVersion="Soap11">
            <readerQuotas maxStringContentLength="838860800"
                          maxArrayLength="838860800"
                          maxBytesPerRead="1024000" />
          </textMessageEncoding>
          <httpsTransport maxReceivedMessageSize="838860800"
                          requestInitializationTimeout="00:01:00"
                          authenticationScheme="Anonymous">
            <webSocketSettings maxPendingConnections="11111" />
          </httpsTransport>
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_1"
                 sendTimeout="00:05:10"
                 maxBufferPoolSize="1000"
                 maxReceivedMessageSize="838860800"
                 portSharingEnabled="true">
          <reliableSession enabled="true" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <services>
      <service behaviorConfiguration="httpOnServiceBehavior"
               name="WcfLoadTest.WcfService.ServiceSoapMsBin1">
        <endpoint address=""
                  binding="customBinding"
                  bindingConfiguration="CustomBinding_SoapMsBin1"
                  contract="WcfLoadTest.WcfService.IServiceSoapMsBin1" />
      </service>
      <service behaviorConfiguration="httpOffServiceBehavior"
               name="WcfLoadTest.WcfService.ServiceNetTcp">
        <endpoint address=""
                  binding="netTcpBinding"
                  bindingConfiguration="NetTcpBinding_1"
                  contract="WcfLoadTest.WcfService.IServiceNetTcp" />
        <endpoint address="mex"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://wcfserviceforloadtest/ServiceNetTcp.svc" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="httpsOnServiceBehavior"
               name="WcfLoadTest.WcfService.ServiceSoap11">
        <endpoint address=""
                  binding="customBinding"
                  bindingConfiguration="CustomBinding_Soap11"
                  contract="WcfLoadTest.WcfService.IServiceSoap11" />
      </service>
      <service behaviorConfiguration="httpOnServiceBehavior"
               name="WcfLoadTest.WcfService.ServiceBasicHttp">
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="BasicHttpBinding_1"
                  contract="WcfLoadTest.WcfService.IServiceBasicHttp" />
      </service>
    </services>


    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
